body {
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    font-size: 14px;
    color: #808080;
}
h2 {
    font-size: 30px;
    font-weight: 600;
    color: #444444;
}
/*
==============
common CSS
==============
*/
span {
    color: #8bc34a;

}
a.hover {
    text-decoration: none;
}
.sec-title {
    text-align: center;
}
.sec-title .sub-title {
    font-size: 10px;
    text-transform: uppercase;
}
.sec-title h2 span {
    color: #8bc34a;

}
.bottom-style {
    position: relative;
    width: 40px;
    background: #8bc34a;
    height: 3px;
    margin: auto;
    top: 7px;
}
.bottom-style:after {
    content:"";
    position: absolute;
    left: -10px;
    right: -10px;
    background: #e8e8e8;
    height: 1px;
    top: 1px;
}

/*button*/
.our-btn {
    padding: 17px 30px;
    background: #8bc34a;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    border-radius: 30px;
    color: #fff;
    border: 1px solid #aeaeae;
    transition: 0.5s;

}
.our-btn:hover {
    text-decoration: none;
    background: #fff;
    color:  #8bc34a;
}
.btn .our-btn {
    background: white;
    color: #4caf50;
    border: 1px solid #4caf50;
}
.btn .our-btn:hover {
    color: white;
    background: #4caf50;
}

/*header area*/
.top-content {
    display: flex;
    justify-content: space-between;
}
.top-bar {
    background: #343434;
}

.top-left ul,
.top-right ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.top-left ul li,
.top-right ul li {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
    color: #6b6b6b;
}
.top-left ul li{
    margin-right: 25px;
}
.top-left ul li i {
    margin-right: 6px;
}

.top-right ul li a {
    color: #7d7d7d;
    margin-left: 15px;
}
.top-right ul li a:hover {
    color: white;
}

/*menu*/
.menu-area .navbar-light .navbar-nav li {
    margin-top: 25px;
    margin-bottom: 25px;
}

.menu-area .navbar-light .navbar-nav li a {
    color:  #444;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    margin-right: 15px;
    margin-left: 15px;
}
.menu-area .navbar-light .navbar-nav li.active a {
    color:  #8bc34a;
}

/*slider area*/
.slider-item {
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 0;
}
.slider-item img {
    max-width: 100%;
}
.slider-item:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0.0.5);
}
.slider-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.slider-content h2 {
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    margin-top: 17px;
}
.slider-content .pa-1 {
    font-size: 24px;
    font-weight: 300;
}
.slider-content .pa-2 {
    font-size: 16px;
    margin-bottom: 60px;
}
.slider-btn .our-btn {
    margin-left: 15px;
    margin-right: 15px;
}

.my-bullet {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: absolute;
    z-index: 10;
    bottom: 30px;
    left: 0;
    right: 0;
    justify-content: center;
}

.my-bullet li {
    width: 8px;
    height: 8px;
    background: #414141;
    margin-left: 5px;
    margin-right: 5px;

}
.my-bullet li.active {
    border: 2px solid #a6a6a6;
}
.slider-arrow .right,
.slider-arrow .left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.slider-arrow .left {
    left: 30px;
}
.slider-arrow .right {
    right: 30px;
}
.slider-arrow .right a,
.slider-arrow .left a {
    color: white;
}
.slider-arrow .right a:hover,
.slider-arrow .left a:hover {
    color: #6f42c1;
}

/*
==================
*/
/*section-about*/
.section-about {
    margin-top: -150px;
}
.about-content {
    /*background: #6f42c1;*/
    padding-top: 150px;
    height: 100%;
    padding-left: 40px;

}
.about-content .sec-title {
    text-align: left;
}
.sec-title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.sub-text {
    font-family: poppins, " light";
    font-size: 14px;
}
 .sec-title .sub-text {
    margin-top: 40px;
    margin-bottom: 40px;
}
.abt img {
    display: block;
    max-width: 100%;
}
.about-content .sec-title p .sub-text {
    font-family: poppins, " Medium";
    font-size: 14px;
}
/*
====================
*/
/*we do section*/
.bg-area {
    background: #fafafa;
}
.de-do-content {
    margin-top: 75px;
}
.we-do-area .we-text {
    font-size: 10px;
    font-family: poppins, " Medium";
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.do-h3 {
    font-size: 30px;
    font-family: poppins, " semibold";
    margin-bottom: 35px;
    margin-top: 5px;
    font-weight: 600;
}
.we-do-area .sub-text {
    margin-bottom: 70px;

}

.we-do-title {
    margin-bottom: 50px;
}
.we-do-title ion-icon {
    font-size: 40px;
    color: #444;
}
.we-do-title .we-do-text h4 {
    position: relative;
    font-size: 18px;
    font-family: poppins, " Medium";
    color: #444;
    padding-bottom: 15px;
}
.we-do-title .we-do-text h4:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background: #444;
    bottom: 0;
    left: 0;
}

.we-img img {
    margin-bottom: -40%;

}

/*
====================
*/
/*work section*/

.work {
    padding-top: 100px;
}
.work-list {
    margin-top: 60px;
    margin-bottom: 30px;
}
.work-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.work-list ul li {
    font-size: 13px;
    color: #444;
    padding: 8px;
    position: relative;
    cursor: pointer;

}
.work-list ul li:after {
    content: "";
    position: absolute;
    height: 12px;
    width: 1px;
    background: #444;
    right: 0;
    bottom: 11px;
 }
.work-list ul li.active {
    color: #a2cf6e;
}
.gallery .es-item img {
    max-width: 100%;
    display: block;
    width: 100%;
}
.gallery .es-item {
    position: relative;
}
.es-when-hover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(76,173,79,0.6);
    text-align: center;
    transform: scale(0);
    transition: 0.3s;

}
.gallery .es-item:hover .es-when-hover {
    transform: scale(1);
}
.es-when-hover div {
    font-size: 60PX;
    color: white;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.padding-arround {
    padding:2px;
}

.d-none {
    display: none;
}

/*
========================
tab Area
========================
*/
.our-tab-content{
    background: #f7f7f7;
}
.tab-content {
    padding-top: 100px;
    padding-bottom: 100px;
}
.tab-area {
    margin-top: 100px;
}
.tab-list {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}
.our-nav-item {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
}
.our-nav-item li {
    flex-grow: 1;
}
.our-nav-item li a {
    color: #444;
    padding: 35px;
    display: block;
    font-size: 18px;
}
.our-nav-item li a i {
    margin-right: 10px;
}
ul.our-nav-item li .active {
    background: #f7f7f7;
    border-bottom: 4px solid #4caf50;
}

.tab-pane .col-md-5 img {
    max-width: 100%;
}

.tab-content h3 {
    color: #444;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: poppins, " semibold";
    font-weight: 600;
}
/*
========================
Big Banner Area
========================
*/
.big-banner {
    background: url("image/1.jpg");
    text-align: center;
    border-bottom: 7px solid #4caf50;
    position: relative;
    background-attachment: fixed;
}
.big-banner:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
}
.big-banner h2 {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.banner-content {
    padding-top: 125px;
    padding-bottom: 125px;
    position: relative;
}
.banner-content .our-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0;
}
.banner-content .our-btn {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px 100px;
    border-radius: 50px;
    z-index: 2;
}

/*
==================
*/
/*Team member area*/

.our-team {
    padding-top: 100px;
    overflow: hidden;
}
.our-team .sec-title {
    margin-bottom: 60px;
}

.team-member img {
    max-width: 100%;
}
.team-member {
    position: relative;
    text-align: center;
    color: #fff;
}
.team-all-hover {
    position: absolute;
    background: rgba(0,0,0, .7);
    left: 0;
    right: 0;
    top: 100%;
    bottom: 0;
    transition: .5s;
}
.team-member:hover .team-all-hover {
    top: 0;
 }
.team-section-1 {
    position: absolute;
    top: 50%;
    transition: .5s;
}
.team-member:hover .team-section-1 {
    transform: translateY(-50%);

}
.team-section-1 h4 {
    font-size: 21px;
}.team-section-1 p {
    font-size: 13px;
}
 .social {
     background: #87bd4a;
     position: absolute;
     bottom: -75px;
     left: 0;
     right: 0;
     transition: .5s;
 }
 .team-member:hover .social {
     bottom: 0;
 }
.social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.social ul li a {
    display: inline-block;
    padding: 20px 15px;
    color: white;
    font-size: 16px;
}
.social ul li a:hover i {
    transition: 0.5s;
}
.social ul li a:hover i {
    transform: rotate(360deg);
}

/*
===================
*/
/* Blog Area Start*/
.pos-rel {
    position: relative;
}
.blog .sec-title {
    margin-top: 70px;
    margin-bottom: 70px;
}
.blog-item img {
    max-width: 100%;
}
.blog-item {
    position: relative;
    margin-bottom: 30px;
}
.blog-title .author a {
    color:#8bc34a;
}
.date-month {
    background: #8bc34a;
    color: #fff;
    position: absolute;
    left: 15px;
    bottom: 15px;
    padding: 15px;
    box-shadow: 10px 10px #6f9c3b;
}
.date {
    font-size: 24px;
}
.month {
    font-size: 13px;
}
.blog-title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.blog-title h2 {
    font-size: 20px;
}


.blog-right .blog-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e6e6e6;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}
.blog-right .author {
    font-size: 10px;
}
/*
================
*/
/*Owl Carousel*/
.brand {
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
    background: #fafafa;
}
.owl-carousel .brand-item {
    text-align: center;
}
.owl-carousel .brand-item img {
    width: auto;
    display: inline-block;
}

/*
================
*/
/*Footer Area start*/
.footer {
    background: #262626;
}
.footer .widget {
    padding-top: 70px;
}
.footer .widget-one {
    padding-top: 100px;
}
.widget-one {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #303030;
    position: relative;
}
.widget-one:before {
    content: "";
    position: absolute;
    left: -5000px;
    right: 100%;
    top: 0;
    bottom: 0;
    background: #303030;
}
.widget-one .widget-logo {
    margin-bottom: 20px;
}
.widget-social ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.widget-social ul li a {
    color: #6b6b6b;
    display: block;
    padding: 10px;
    transition: .3s;
}
.widget-social ul li a i {
    transition: .3s;
}
.widget-social ul li a:hover i {
    transform: rotate(360deg);
}
.widget-social ul li a:hover {
    opacity: .8;
}

.widget .title h4 {
    font-size: 18px;
    color: #6b6b6b;
    font-weight: 600;
    margin-bottom: 20px;
}
.widget .content {
    color: #6b6b6b;
}


/*Tweeter Feed*/
ul.tweet-feed {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.tweet-feed li {
    margin-bottom: 15px;
}
ul.tweet-feed li i {
    float: left;
    padding-top: 5px;
}
ul.tweet-feed li a {
    padding-left: 25px;
    color: #6b6b6b;
    display: block;
}

/*Subscriber*/
.subscribe {
    margin-top: 25px;
}
.subscribe input {
    display: block;
    width: 100%;
    background: #262626;
    height: 35px;
    border: 1px solid #575757;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 45px;
    color: #4a4a4a;
}
.subscribe {
    position: relative;
}
.subscribe input:focus {
    outline: 0;
}
.subscribe:after {
    content: "\f3fe";
    font-family: "Font Awesome 5 Brands";
    font-weight: 700;
    position: absolute;
    right: 19px;
    top: 8px;
    pointer-events: none;
}
.submit {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.submit input {
    width: 50px;
    background: transparent;
    font-size: 0;
    border: 0;
}

.copyright {
    background: #1c1c1c;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.copyright a {
    color: #8bc34a;
}


/*top-up area*/
.top {
    width: 50px;
    height: 70px;
    background: #212121;
    text-align: center;
    font-size: 40px;
    line-height: 1.8;
    position: fixed;
    right: 120px;
    bottom: 25px;
    border-radius: 5px;
}
.top a {
    color: #fff;
}

